<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="door.opposite.grupo2.dungeonscrolls">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Telas.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Telas.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Telas.SignUpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Telas.SheetActivity"
            android:label="@string/sheet_activity_recordSheet_tituloPrincipal"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Telas.MainActivity" />
        <activity
            android:name=".Telas.SheetAppearanceActivityDF"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Telas.SheetFeatsSkillsActivityDF"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Telas.SheetEquipmentItensActivityDF"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Telas.SheetBattleInformationActivityDF"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Telas.RoomCreationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Telas.SheetSpecialPropertiesActivityDF"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Telas.SheetMagicInformationActivityDF"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Telas.RoomsMenu" />
        <activity android:name=".Telas.AllRooms" />
        <activity android:name=".Telas.UserRooms" />
        <activity
            android:name=".Telas.RoomActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Telas.OptionsActivity" />
        <activity android:name=".BeforeSheetMonsterAutomaticallyActivity" />
        <activity android:name=".BeforeSheetMonsterCreatedActivity" />
        <activity android:name=".RoomMonsterListActivity"></activity>
    </application>

</manifest>